# ref: https://clang.llvm.org/docs/ClangFormatStyleOptions.html

---
BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 2
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: InlineOnly
AlignEscapedNewlines: Left
AlignConsecutiveMacros: Consecutive
#AlignArrayOfStructures: Left
IndentPPDirectives: AfterHash
...
